## 2.1 Werte und Typen

Ein Wert ist eines der grundlegenden Dinge, mit denen ein Programm arbeitet, wie ein Buchstabe oder eine Zahl.
Die Werte, die wir bis jetzt gesehen haben, sind 1, 2 und "Hello, World!".
Diese Werte gehören zu unterschiedlichen Typen: 2 ist ein Integer (ganze Zahl), und "Hello, World!" ist ein string (Zeichenkette), weil sie eine "Kette" von Buchstaben enthält. Sie (und der Interpreter) können stings erkennen, weil sie in Anführungszeichen eingeschlossen sind.
Die "print" Anweisung funktioniert auch für ganze Zahlen. Wir verwenden den "python" Befehl, um den Interpreter zu starten.

In [ ]:
python
>>> print(4)
4

Wenn man sich nicht sicher ist, welchen Typ ein Wert hat, kann der Interpreter Ihnen das sagen.

In [ ]:
>>> type('Hello, World!')
<class 'str'>
>>> type(17)
<class 'int'>

Es überrascht nicht, dass strings zum Typ "str" und integers zum Typ "int" gehören. Weniger offensichtlich ist, dass Zahlen mit einem decimal point (Dezimalpunkt) zum Typ "float" gehören, da diese Zahlen in einem Format namens "floating point" dargestellt werden.

In [ ]:
>>> type(3.2)
<class 'float'>

Was ist mit Werten wie "17" und "3.2"? Sie sehen aus wie Zahlen, aber sie sind in Anführungszeichen gesetzt wie Zeichenketten.

In [ ]:
>>> type('17')
<class 'str'>
>>> type('3.2')
<class 'str'>

Es sind strings.
Wenn Sie eine große ganze Zahl eingeben, möchten Sie vielleicht Kommas zwischen Gruppen von drei Ziffern zu setzen, wie in 1,000,000. Dies ist in Python keine zulässige ganze Zahl, aber sie ist möglich:

In [ ]:
>>> print(1,000,000)
100

Nun, das ist überhaupt nicht das, was wir erwartet haben! Python interpretiert 1,000,000 als eine durch Kommas getrennte Folge von ganzen Zahlen, die es mit Leerzeichen dazwischen ausgibt.
Dies ist das erste Beispiel für einen semantischen Fehler: Der Code läuft, ohne eine Fehlermeldung zu erzeugen, aber er tut nicht das "Richtige".